@import compass/reset
@import compass/css3

=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content

=animation($name)
    -webkit-animation: #{$name}
    -moz-animation: #{$name}
    -ms-animation: #{$name}
    -o-animation: #{$name}
    animation: #{$name}
